$xs: 360px;
$sm: 440px;
$md: 768px;
$lg: 1280px;
$xl: 1440px;

@mixin for-size($size) {
  @if $size == xs {
    @media (max-width: $sm) {
      @content;
    }
  }
  @else if $size == md {
    @media (min-width: $md) {
      @content;
    }
  }
  @else if $size == lg {
    @media (min-width: $lg) {
      @content;
    }
  }
  @else if $size == xl {
    @media (min-width: $xl) {
      @content;
    }
  }
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
