@import "src/app/ui/styles/colors";
@import "src/app/ui/styles/typography";
@import "src/app/ui/styles/layout";
@import "src/app/ui/styles/animations";

* {
    box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: 16px;
}
